/*
 * Tabs CSS
*/
.tabs .tabs-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  background-color: #5ea8fc;
  border-bottom: 1px solid #539ff6;
}

.tabs .tabs-trigger .tabs-trigger__item {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
}

.tabs .tabs-trigger .tabs-trigger__item:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabs .tabs-trigger .active-trigger {
  background-color: #0876f350;
}

.tabs .tabs-content {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.tabs .tabs-content .tabs-content__item {
  display: none;
}

.tabs .tabs-content .active-tab {
  display: block;
}

/*
 * Metabox CSS
*/
#easy-copy-metabox {
  border: 1px solid #5ea8fc;
}

#easy-copy-metabox .postbox-header {
  background-color: #5ea8fc;
  border-top: 1px solid #539ff6;
  border-right: 1px solid #539ff6;
  border-left: 1px solid #539ff6;
  border-bottom: 0px;
}

#easy-copy-metabox .postbox-header .hndle {
  color: #fdfdfd;
}

#easy-copy-metabox .inside {
  margin-top: 0;
  padding: 0;
}

#easy-copy-metabox .easy-metabox-field {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#easy-copy-metabox .easy-metabox-field:first-child {
  margin-top: 15px;
}

#easy-copy-metabox .easy-metabox-field .easy-metabox-field__label {
  width: 150px;
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 1200px) {
  #easy-copy-metabox .easy-metabox-field .easy-metabox-field__options #_easy_copyright_name {
    width: 200px;
  }
}

@media (min-width: 1600px) {
  #easy-copy-metabox .easy-metabox-field .easy-metabox-field__options #_easy_copyright_name {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  #easy-copy-metabox .easy-metabox-field .easy-metabox-field__options #_easy_extra_text {
    width: 200px;
  }
}

@media (min-width: 1600px) {
  #easy-copy-metabox .easy-metabox-field .easy-metabox-field__options #_easy_extra_text {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  #easy-copy-metabox .easy-metabox-field .easy-metabox-field__options #_easy_item_order {
    width: 600px;
  }
}

@media (min-width: 1600px) {
  #easy-copy-metabox .easy-metabox-field .easy-metabox-field__options #_easy_item_order {
    width: 900px;
  }
}

#easy-copy-metabox .easy-metabox-field .easy-metabox-field__options .easy-metabox-field__desc {
  color: #808080;
  font-weight: 500;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  margin-top: 5px;
}

#easy-copy-metabox .easy-metabox-field .easy-metabox-field__options input {
  outline: 0 !important;
  outline-offset: 0 !important;
}

#easy-copy-metabox .easy-metabox-field .easy-metabox-field__options input:focus {
  -webkit-box-shadow: 0 0 0 1px #5ea8fc !important;
          box-shadow: 0 0 0 1px #5ea8fc !important;
  border: 1px solid #5ea8fc;
}

#easy-copy-metabox .easy-metabox-field .easy-metabox-field__options input:active {
  outline: none !important;
}

#easy-copy-metabox .easy-metabox-field:not(:last-child) {
  margin-bottom: 17px;
}

/*
 * Copyright `item-order` section CSS
*/
#easy-order .easy-metabox-field__label {
  margin-bottom: 10px;
}

#easy-order .easy-metabox-field__info {
  margin-bottom: 10px;
}

#easy-order .easy-metabox-field__info .easy-item:not(:last-child) {
  margin-bottom: 7px;
}

#easy-order .easy-metabox-field {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px !important;
}

/*
 * ShortCode CSS
*/
.easy-shortcode {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #539ff6;
}

.easy-shortcode:first-child {
  margin-bottom: 30px;
  color: white;
}

.easy-shortcode input {
  display: block;
  padding: 6px;
  width: 100%;
  outline: none !important;
  outline-offset: 0 !important;
  background-color: #5ea8fc !important;
  color: white;
  border: 1px solid #539ff6;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  font-family: Consolas, "Courier New", monospace, Monaco;
}

.easy-shortcode input:focus {
  outline: none;
}

.easy-shortcode input:first-child {
  margin-bottom: 10px;
}

.easy-widget {
  margin-top: 10px;
  margin-bottom: 10px;
}

.easy-widget .easy-widget__id {
  margin-top: 10px;
}
